In [1]:
try:
    from bs4 import BeautifulSoup
    import requests
    import pandas as pd
    import http.client

except Exception as e:
    print(e)

else:
    print('import successfull')

import warnings
warnings.filterwarnings('ignore')

import successfull

In [2]:
url='https://www.goodreads.com/list/show/1.Best_Books_Ever?page='
books_name=[]
author=[]
ratings=[]
score_col=[]
vote_col=[]
for page in range(1,11):
    curl=url+str(page)
    payload = {'api_key': '65bbea6e986f43204c82fb7394a12ba8', 'url': curl}
    html= requests.get('http://api.scraperapi.com', params=payload)
    soup=BeautifulSoup(html.text,'lxml')
    box=soup.find('table',class_='tableList js-dataTooltip')

    books=box.find_all('a',class_='bookTitle')
    for book in books:
        books_name.append(book.text)

    auths=box.find_all('a',class_='authorName')
    for auth in auths:
        author.append(auth.text)

    stars=box.find_all('span',class_='minirating')
    for star in stars:
        ratings.append(star.text)

    scores=box.find_all('a',onclick="Lightbox.showBoxByID('score_explanation', 300); return false;")
    for score in scores:
        score_col.append(score.text)

    votes=box.find_all('span',class_='greyText')
    for vote in votes:
        check=vote.find_next_sibling('a')
        if check:
            vote_col.append(check.text)

    print(page,end=' ')

1 2 3 4 5 6 7 8 9 10

In [3]:
print(len(books_name))
print(len(author))
print(len(ratings))
print(len(score_col))
print(len(vote_col))

1000
1000
1000
1000
1000

In [4]:
df=pd.DataFrame({'Book_Name':books_name,'Author':author,'Rating':ratings,'Score':score_col,'Votes':vote_col})
df.head()

,Book_Name,Author,Rating,Score,Votes
0,"\nThe Hunger Games (The Hunger Games, #1)\n",Suzanne Collins,"4.34 avg rating — 8,668,396 ratings","score: 3,772,841","38,386 people voted"
1,\nHarry Potter and the Order of the Phoenix (H...,J.K. Rowling,"4.50 avg rating — 3,383,818 ratings","score: 3,091,718","31,585 people voted"
2,\nPride and Prejudice\n,Jane Austen,"4.29 avg rating — 4,269,914 ratings","score: 2,682,061","27,514 people voted"
3,\nTo Kill a Mockingbird\n,Harper Lee,"4.26 avg rating — 6,124,177 ratings","score: 2,419,158","24,706 people voted"
4,\nThe Book Thief\n,Markus Zusak,"4.39 avg rating — 2,558,002 ratings","score: 1,797,728","18,484 people voted"

In [6]:
# df.to_csv('Books catalog.csv')

In [11]:
df['Book_Name']=df['Book_Name'].str.replace('\n','')
df.tail()

,Book_Name,Author,Rating,Score,Votes
995,"Every Day (Every Day, #1)",David Levithan,"3.90 avg rating — 233,779 ratings","score: 7,569",88 people voted
996,The Horse Whisperer,Nicholas Evans,"3.85 avg rating — 58,616 ratings","score: 7,537",119 people voted
997,The Guardian,Nicholas Sparks,"4.16 avg rating — 182,716 ratings","score: 7,526",105 people voted
998,Songs of Innocence and of Experience,William Blake,"4.09 avg rating — 48,868 ratings","score: 7,520",117 people voted
999,The Last of the Mohicans (The Leatherstocking ...,James Fenimore Cooper,"3.70 avg rating — 97,950 ratings","score: 7,518",122 people voted

In [12]:
df['Score']=df['Score'].str.replace('score: ','')
df['Votes']=df['Votes'].str.replace('people voted','')
df.head()

,Book_Name,Author,Rating,Score,Votes
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"4.34 avg rating — 8,668,396 ratings","3,772,841","38,386"
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,"4.50 avg rating — 3,383,818 ratings","3,091,718","31,585"
2,Pride and Prejudice,Jane Austen,"4.29 avg rating — 4,269,914 ratings","2,682,061","27,514"
3,To Kill a Mockingbird,Harper Lee,"4.26 avg rating — 6,124,177 ratings","2,419,158","24,706"
4,The Book Thief,Markus Zusak,"4.39 avg rating — 2,558,002 ratings","1,797,728","18,484"

In [19]:
df[['Average_Rating','Rating']]=df['Rating'].str.split('—',expand=True)
df

,Book_Name,Author,Rating,Score,Votes,Average_Rating
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"8,668,396 ratings","3,772,841","38,386",4.34 avg rating
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,"3,383,818 ratings","3,091,718","31,585",4.50 avg rating
2,Pride and Prejudice,Jane Austen,"4,269,914 ratings","2,682,061","27,514",4.29 avg rating
3,To Kill a Mockingbird,Harper Lee,"6,124,177 ratings","2,419,158","24,706",4.26 avg rating
4,The Book Thief,Markus Zusak,"2,558,002 ratings","1,797,728","18,484",4.39 avg rating
...,...,...,...,...,...,...
995,"Every Day (Every Day, #1)",David Levithan,"233,779 ratings","7,569",88,3.90 avg rating
996,The Horse Whisperer,Nicholas Evans,"58,616 ratings","7,537",119,3.85 avg rating
997,The Guardian,Nicholas Sparks,"182,716 ratings","7,526",105,4.16 avg rating
998,Songs of Innocence and of Experience,William Blake,"48,868 ratings","7,520",117,4.09 avg rating
999,The Last of the Mohicans (The Leatherstocking ...,James Fenimore Cooper,"97,950 ratings","7,518",122,3.70 avg rating

In [20]:
df['Rating']=df['Rating'].str.replace('ratings','')
df['Average_Rating']=df['Average_Rating'].str.replace('avg rating','')
df

,Book_Name,Author,Rating,Score,Votes,Average_Rating
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"8,668,396","3,772,841","38,386",4.34
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,"3,383,818","3,091,718","31,585",4.50
2,Pride and Prejudice,Jane Austen,"4,269,914","2,682,061","27,514",4.29
3,To Kill a Mockingbird,Harper Lee,"6,124,177","2,419,158","24,706",4.26
4,The Book Thief,Markus Zusak,"2,558,002","1,797,728","18,484",4.39
...,...,...,...,...,...,...
995,"Every Day (Every Day, #1)",David Levithan,"233,779","7,569",88,3.90
996,The Horse Whisperer,Nicholas Evans,"58,616","7,537",119,3.85
997,The Guardian,Nicholas Sparks,"182,716","7,526",105,4.16
998,Songs of Innocence and of Experience,William Blake,"48,868","7,520",117,4.09
999,The Last of the Mohicans (The Leatherstocking ...,James Fenimore Cooper,"97,950","7,518",122,3.70

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Book_Name       1000 non-null   object
 1   Author          1000 non-null   object
 2   Rating          1000 non-null   object
 3   Score           1000 non-null   object
 4   Votes           1000 non-null   object
 5   Average_Rating  1000 non-null   object
dtypes: object(6)
memory usage: 47.0+ KB

In [31]:
df['Average_Rating']=df['Average_Rating'].str.replace(',','')
df['Score']=df['Score'].str.replace(',','')
df['Votes']=df['Votes'].str.replace(',','')
df

,Book_Name,Author,Rating,Score,Votes,Average_Rating
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,8668396.0,3772841,38386,4.34
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,3383818.0,3091718,31585,4.50
2,Pride and Prejudice,Jane Austen,4269914.0,2682061,27514,4.29
3,To Kill a Mockingbird,Harper Lee,6124177.0,2419158,24706,4.26
4,The Book Thief,Markus Zusak,2558002.0,1797728,18484,4.39
...,...,...,...,...,...,...
995,"Every Day (Every Day, #1)",David Levithan,233779.0,7569,88,3.90
996,The Horse Whisperer,Nicholas Evans,58616.0,7537,119,3.85
997,The Guardian,Nicholas Sparks,182716.0,7526,105,4.16
998,Songs of Innocence and of Experience,William Blake,48868.0,7520,117,4.09
999,The Last of the Mohicans (The Leatherstocking ...,James Fenimore Cooper,97950.0,7518,122,3.70

In [35]:
df['Rating']=df['Rating'].astype('int32')
df

,Book_Name,Author,Rating,Score,Votes,Average_Rating
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,8668396,3772841,38386,4.34
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,3383818,3091718,31585,4.50
2,Pride and Prejudice,Jane Austen,4269914,2682061,27514,4.29
3,To Kill a Mockingbird,Harper Lee,6124177,2419158,24706,4.26
4,The Book Thief,Markus Zusak,2558002,1797728,18484,4.39
...,...,...,...,...,...,...
995,"Every Day (Every Day, #1)",David Levithan,233779,7569,88,3.90
996,The Horse Whisperer,Nicholas Evans,58616,7537,119,3.85
997,The Guardian,Nicholas Sparks,182716,7526,105,4.16
998,Songs of Innocence and of Experience,William Blake,48868,7520,117,4.09
999,The Last of the Mohicans (The Leatherstocking ...,James Fenimore Cooper,97950,7518,122,3.70

In [39]:
# df['Score']=df['Score'].astype('int32')
# df['Votes']=df['Votes'].astype('int32')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Book_Name       1000 non-null   object
 1   Author          1000 non-null   object
 2   Rating          1000 non-null   int32
 3   Score           1000 non-null   int32
 4   Votes           1000 non-null   int32
 5   Average_Rating  1000 non-null   object
dtypes: int32(3), object(3)
memory usage: 35.3+ KB

In [61]:
# df.to_csv('Final Book Catalog.csv')